@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

/*
% MOBILE:   375px
% DESKTOP:  1366px
*/

/* # GENERAL STYLINGS */

:root {
  --color-bg-primary: hsl(214, 47%, 23%);
  --color-bg-secondary: hsl(237, 49%, 15%);
  --scissors-start: hsl(40, 84%, 53%);
  --scissors-end: hsl(39, 89%, 49%);
  --scissors-shadow: hsla(39, 89%, 49%, 0.7);
  --paper-start: hsl(230, 89%, 65%);
  --paper-end: hsl(230, 89%, 62%);
  --paper-shadow: hsla(230, 89%, 62%, 0.7);
  --rock-start: hsl(349, 70%, 56%);
  --rock-end: hsl(349, 71%, 52%);
  --rock-shadow: hsla(349, 71%, 52%, 0.7);
  --lizard-start: hsl(261, 72%, 63%);
  --lizard-end: hsl(261, 73%, 60%);
  --lizard-shadow: hsla(261, 73%, 60%, 0.7);
  --spock-start: hsl(189, 58%, 57%);
  --spock-end: hsl(189, 59%, 53%);
  --spock-shadow: hsla(189, 59%, 53%, 0.7);

  --accent: #fff;
  --win-hightlight-1: rgb(255, 255, 255, 0.04);
  --win-hightlight-2: rgb(255, 255, 255, 0.03);
  --win-hightlight-3: rgb(255, 255, 255, 0.02);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --background: radial-gradient(at center top, var(--color-bg-primary), var(--color-bg-secondary));

  --scoreboard-width: clamp(310px, 100%, 900px);
  --game-width: clamp(280px, 90%, 500px);
  --btn-size: clamp(100px, 26vw, 175px);
  --btn-shadow-size: calc(0.06 * var(--btn-size));
  --btn-border-width: calc(0.12 * var(--btn-size));
  --game-result-width: clamp(100px, 100%, 600px);

  /* # FONT */

  font-family: "Barlow Semi Condensed";
  font-size: 16px;
  font-weight: 600;
  background: var(--background);
}

/* # GENERAL STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: blendIn 0.4s linear 0.2s both;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--header-outline);
}

@keyframes blendIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* # HEADER */

header {
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scoreboard {
  width: var(--scoreboard-width);
  border: 3px solid var(--header-outline);
  border-radius: 8px;
  padding: 1.2rem;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scoreboard-logo {
  height: 100%;
}

.scoreboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent);
  padding: 0.8rem 2rem;
  border-radius: 4px;
  color: var(--dark-text);
  cursor: pointer;
}

.scoreboard-title {
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: var(--score-text);
}

.scoreboard-score {
  font-size: 2.6rem;
  font-weight: 700;
}

/* # MAIN */

main {
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game-selection-wrapper {
  display: initial;
  background: url("../img/bg-pentagon.svg") center/contain no-repeat;
  position: relative;
  aspect-ratio: 1.05 / 1;
  width: calc(var(--game-width) - (calc(var(--btn-size) / 2)));
  padding: 2rem;
  animation: scaleUp 0.2s cubic-bezier(0.3, 0.5, 0.5, 1) both;
}

.game-selection-btn-wrapper {
  width: var(--btn-size);
  height: 145%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.game-btn {
  height: var(--btn-size);
  width: var(--btn-size);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: var(--accent);
  border: var(--btn-border-width) solid;
  border-radius: 50%;
}

.game-selection-btn-wrapper .game-selection-btn:hover {
  scale: 1.1;
}

.game-selection-btn-wrapper:nth-of-type(1) {
  transform: translate(-50%, -50%) rotate(72deg);
}

.game-selection-btn-wrapper:nth-of-type(1) .game-paper-btn {
  transform: rotate(-72deg);
}

.game-selection-btn-wrapper:nth-of-type(1) .game-selection-btn:hover {
  border-color: var(--paper-end);
}

.game-selection-btn-wrapper:nth-of-type(1) .game-selection-btn:active {
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  transform: translateY(var(--btn-shadow-size)) rotate(-72deg);
}

.game-paper-btn {
  border-color: var(--paper-start);
  background-image: url("../img/icon-paper.svg");
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2), 0 var(--btn-shadow-size) var(--paper-shadow);
}

.game-selection-btn-wrapper:nth-of-type(2) {
  transform: translate(-50%, -50%) rotate(144deg);
}

.game-selection-btn-wrapper:nth-of-type(2) .game-rock-btn {
  transform: rotate(-144deg);
}

.game-selection-btn-wrapper:nth-of-type(2) .game-selection-btn:hover {
  border-color: var(--rock-end);
}

.game-selection-btn-wrapper:nth-of-type(2) .game-selection-btn:active {
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  transform: translateY(var(--btn-shadow-size)) rotate(-144deg);
}

.game-rock-btn {
  border-color: var(--rock-start);
  background-image: url("../img/icon-rock.svg");
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2), 0 var(--btn-shadow-size) var(--rock-shadow);
}

.game-selection-btn-wrapper:nth-of-type(3) {
  transform: translate(-50%, -50%) rotate(216deg);
}

.game-selection-btn-wrapper:nth-of-type(3) .game-lizard-btn {
  transform: rotate(-216deg);
}

.game-selection-btn-wrapper:nth-of-type(3) .game-selection-btn:hover {
  border-color: var(--lizard-end);
}

.game-selection-btn-wrapper:nth-of-type(3) .game-selection-btn:active {
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  transform: translateY(var(--btn-shadow-size)) rotate(-216deg);
}

.game-lizard-btn {
  border-color: var(--lizard-start);
  background-image: url("../img/icon-lizard.svg");
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2), 0 var(--btn-shadow-size) var(--lizard-shadow);
}

.game-selection-btn-wrapper:nth-of-type(4) {
  transform: translate(-50%, -50%) rotate(288deg);
}

.game-selection-btn-wrapper:nth-of-type(4) .game-spock-btn {
  transform: rotate(-288deg);
}

.game-selection-btn-wrapper:nth-of-type(4) .game-selection-btn:hover {
  border-color: var(--spock-end);
}

.game-selection-btn-wrapper:nth-of-type(4) .game-selection-btn:active {
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  transform: translateY(var(--btn-shadow-size)) rotate(-288deg);
}

.game-spock-btn {
  border-color: var(--spock-start);
  background-image: url("../img/icon-spock.svg");
  background-position: 60%;
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2), 0 var(--btn-shadow-size) var(--spock-shadow);
}

.game-selection-btn-wrapper:nth-of-type(5) {
  transform: translate(-50%, -50%) rotate(0deg);
}

.game-selection-btn-wrapper:nth-of-type(5) .game-selection-btn:hover {
  border-color: var(--scissors-end);
}

.game-selection-btn-wrapper:nth-of-type(5) .game-selection-btn:active {
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  transform: translateY(var(--btn-shadow-size));
}

.game-scissors-btn {
  border-color: var(--scissors-start);
  background-image: url("../img/icon-scissors.svg");
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2), 0 var(--btn-shadow-size) var(--scissors-shadow);
}

.game-selection-btn {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.game-result-wrapper {
  height: 100%;
  width: var(--game-result-width);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: scaleUp 0.2s cubic-bezier(0.3, 0.5, 0.5, 1) both;
}

.selection-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selection-btn-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 50%;
}

.house-selection-btn {
  margin-top: var(--btn-border-width);
  height: calc(var(--btn-size) - calc(var(--btn-border-width) * 2));
  width: calc(var(--btn-size) - calc(var(--btn-border-width) * 2));
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  animation: loadingAnimation 1s linear alternate infinite;
}

.no-animation {
  animation: none;
}

@keyframes loadingAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.win-hightlight-wrapper {
  border-radius: 50%;
}

.win-animation {
  animation: winAnimation 1s linear alternate infinite;
}

@keyframes winAnimation {
  0% {
    box-shadow: none;
  }
  30% {
    box-shadow: 0 calc(var(--btn-shadow-size) / 2) 0 calc(var(--btn-shadow-size) + var(--btn-shadow-size))
      var(--win-hightlight-1);
  }
  60% {
    box-shadow: 0 calc(var(--btn-shadow-size) / 2) 0 calc(var(--btn-shadow-size) + var(--btn-shadow-size))
        var(--win-hightlight-1),
      0 calc(var(--btn-shadow-size) / 8) 0 calc(var(--btn-shadow-size) + calc(var(--btn-shadow-size) * 4))
        var(--win-hightlight-2);
  }
  90%,
  100% {
    box-shadow: 0 calc(var(--btn-shadow-size) / 2) 0 calc(var(--btn-shadow-size) + var(--btn-shadow-size))
        var(--win-hightlight-1),
      0 calc(var(--btn-shadow-size) / 8) 0 calc(var(--btn-shadow-size) + calc(var(--btn-shadow-size) * 4))
        var(--win-hightlight-2),
      0 calc(var(--btn-shadow-size) / 16) 0 calc(var(--btn-shadow-size) + calc(var(--btn-shadow-size) * 8))
        var(--win-hightlight-3);
  }
}

.result-label {
  color: var(--accent);
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.result-wrapper {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
}

.game-result {
  font-size: 3rem;
  color: var(--accent);
}

.play-again-btn {
  border: 1px solid transparent;
  border-radius: 0.4rem;
  padding: 1rem 2.8rem;
  background-color: var(--accent);
  color: var(--dark-text);
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.play-again-btn:hover {
  background-color: var(--dark-text);
  color: var(--accent);
  border: 1px solid var(--header-outline);
}

.play-again-btn:active {
  background-color: var(--header-outline);
  color: var(--accent);
}

.rules-modal {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rules-modal::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.rules-modal-wrapper {
  z-index: 1000;
  padding: 2rem;
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 80%;
  animation: scaleUp 0.4s cubic-bezier(0.3, 0.5, 0.5, 1) both;
  position: relative;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

.rules-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-text);
}

.rules-img {
  height: 50%;
}

.rules-close-btn {
  opacity: 0;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

/* # FOOTER */

footer {
  padding: 2rem;
}

.rules-btn {
  border: 1px solid var(--accent);
  border-radius: 0.4rem;
  padding: 0.8rem 2rem;
  background-color: transparent;
  color: var(--accent);
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.rules-btn:hover {
  background-color: var(--accent);
  color: var(--dark-text);
}

.rules-btn:active {
  background-color: var(--header-outline);
  color: var(--accent);
}

.attribution {
  display: none;
  color: var(--accent);
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  :root {
    font-size: 20px;
  }

  .game-result-wrapper {
    height: 90%;
  }
  .result-wrapper {
    justify-content: center;
  }

  footer,
  .rules-btn,
  .attribution {
    position: fixed;
  }

  .rules-btn {
    right: 2rem;
    bottom: 2rem;
  }

  .attribution {
    display: initial;
    left: 2rem;
    bottom: 2.5rem;
  }
}
